* {
  margin: 0;
  padding: 0;
}
 
 html,
body, 
.box-index{
    position: absolute;
    height: 100%;
    width: 100%;
}

.bigIndex{
    z-index: 2;
}

/* .body{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.bg,.bg2{
    position: absolute;
    height: 100%;
    width: 100%;
}




.bg section ,.bg2 section {
    position:absolute;
    bottom: 0;
    right: 0;
    background-color: aqua;
    height: 40px;
    width: 40px;
    transform-origin: center;
    transition-duration: 1s;
}

.bg2 section{
  left: 0;
}

.bg ,.bg2{
    opacity: 0;
    transition: 1s ease-in-out;
    z-index: 1;
}
