.bg1,.bg2{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform-origin: center;
    transition: 300ms linear;
    z-index: 1;
}


.bg1 i ,.bg2 i {
    display: inline;
    position:absolute;
    bottom: 0;
    right: 0;
    font-size: 50px;
    transform-origin: center;
    transition: 500ms cubic-bezier(.1,.86,.71,.9);
}

.bg2 i{
    left: 0;
}
