@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --primaryOrange: #f45c3b;
  --primaryYellow: #ffc300;
  --primaryGreen: #009733;
  --supGray:#BCBCBC;
  --disGray: #F0F0F0;
  --actGray: #D0D0D0;
}

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  
}

html,
body,
.bigIndex {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body{
    background-color: #FDFDFD;
}


.bigIndex,
footer,
.content,
.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigIndex,
footer {
    position: absolute;
    flex-direction: column;
}



footer {
  margin: 1.190vh;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-size: 0.972vw;
  z-index: 2;
  color: var(--supGray);
}

.content {
  flex-direction: row;
}

.title {
  font-size: 40px;
}

.title .welcome {
  color: var(--primaryGreen);
}

div.content section {
  margin: 2.222vw;
}

.name {
    padding-top: 1.250vw;
    font-size: 32px;
}

.img {
  box-sizing: border-box;
  height: 476px;
  max-width: 476px;
  border: 0.139vw var(--disGray) solid;
  object-fit: cover
}

.img:hover{
  transition-duration: 300ms;
  border: 0.278vw var(--actGray) solid;
}

@media only screen and (max-width: 800px) {

  .content{
    flex-direction: column
  }
}